name: dist
on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    name: dist
    strategy:
      matrix:
        # options: ubuntu-latest, windows-latest
        os: [ubuntu-latest]
    uses: ./.github/workflows/build-boards.yml
    with:
      # options: all, all-sp, sidecar, psc, rot, openprot, gimlet, cosmo, devboards, tests
      board-set: openprot
      os: ${{ matrix.os }}
